{% extends 'INT/base.html' %}
{% load static %}
{% block content %}
            <div class="section int-dark-grey">
                <div class="row container blue-grey-text text-lighten-5">
                        <h2 class="header center">O Kodziarzach</h2>
                        <p>Zgrana paczka przyjaciół. Osoby nie bojące się wyzwań. Przez swoje zgranie, nie potrzebują szefa. Dzielący wspólne zainteresowania, łączy ich wspólna pasja jaką jest informatyka. Studenci Politechniki Rzeszowskiej. </p>
                </div>
            </div>
            <div class="section int-light-grey no-padding-bottom">
                <div class="row container blue-grey-text text-darken-4 no-margin-bottom">
                    <div class="col l8 push-l4">
                        <h2 class="header center">Jakub 'Szatku' Szatkowski</h2>
                        <p>Pogromca węży, chce zapanować nad nimi wszystkimi, uwielbia sport a zwłaszcza motorsport. Stara się przekazywać dobre fluidy zespołowi i udziela się w każdej pracy, pomimo tego, że potrzebuje poświęcić dużo czasu. Marzy o tym aby być dobrym liderem zespołu.</p>

                    </div>
                    <div class="col l4 pull-l8 no-margin-bottom flx">
                        <img src="{% static 'frontpage/img/kodziarze/szatku.png' %}" class="responsive-img flex-align-bottom">
                    </div>
                </div>
            </div>
            <div class="section int-dark-grey no-padding-bottom">
                <div class="row container blue-grey-text text-lighten-5 no-margin-bottom">
                    <div class="col l8">
                        <h2 class="header center">Edyta 'Amy' Brudzisz</h2>
                        <p>Czarny charakter zespołu, wielbicielka fantasy, nadworna pokrzepicielka strapionych dusz, lubi światełka. Zręcznymi pociągnięciami pióra potrafi stworzyć cuda. Na niej opiera się wizualna strona naszej pracy. </p>

                    </div>
                    <div class="col l4 no-margin-bottom flx">
                        <img src="{% static 'frontpage/img/kodziarze/amy2.png' %}" class="responsive-img flex-align-bottom">
                    </div>
                </div>
            </div>
            <div class="section int-light-grey no-padding-bottom">
                <div class="row container blue-grey-text text-darken-4 no-margin-bottom">
                    <div class="col l8 push-l4">
                        <h2 class="header center">Mateusz 'Minus' Wojtoń</h2>
                        <p>Nasz grupowy samuraj, nie boi się pracy, interesuje się Japonią, pracuje na reaktorze termojądrowym. Powabnymi ruchami dłonią po klawiaturze tworzy od zera miłe dla duszy rzeczy. Filar naszej pracy.</p>

                    </div>
                    <div class="col l4 pull-l8 no-margin-bottom flx">
                        <img src="{% static 'frontpage/img/kodziarze/minus.png' %}" class="responsive-img flex-align-bottom">
                    </div>
                </div>
            </div>
{% endblock %}