{% extends 'base.html' %}
{% load static %}
{% block content %}
            <div class="center container">
                    <a href="{% url 'home_page' %}"><img class="responsive-img logo" src="{% static 'frontpage/img/logo_for_web.png' %}"></a><br>
            </div>
            <nav class="nav-center int-green" role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="hide-on-med-and-down">
                        <li><a href="{% url 'home_page'%}#place">Miejsce</a></li>
                        <li><a href="{% url 'home_page'%}#lectures">Agenda</a></li>
                        <li><a href="{% url 'home_page'%}#organizers">Organizatorzy</a></li>
                        <li><a href="{% url 'home_page'%}#partners">Partnerzy</a></li>
                        <li><a href="{% url 'frontend_news_list' %}">Aktualności</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'home_page'%}#place">Miejsce</a></li>
                        <li><a href="{% url 'home_page'%}#lectures">Agenda</a></li>
                        <li><a href="{% url 'home_page'%}#organizers">Organizatorzy</a></li>
                        <li><a href="{% url 'home_page'%}#partners">Partnerzy</a></li>
                        <li><a href="{% url 'frontend_news_list' %}">Aktualności</a></li>
                    </ul>
                </div>
            </nav>
            <div class="section int-dark-grey">
                <div class="row container blue-grey-text text-lighten-5">
                    <div class="col m4">
                        <img src="{{speaker.photo.url}}" class="responsive-img circle"/>
                    </div>
                    <div class="col m8">
                        <h2 class="header center">{{speaker.name}} {{speaker.surname}}</h2>
                        <h5>Firma: {{speaker.company}}</h5>
                        <p>{{speaker.description}}</p>
                        <h5>Prowadzone prelekcje:</h5>
                        {% for lecture in lectures %}
                            <div class="card blue-grey lighten 3">
                                <div class="card-content white-text" style="padding-top: 5px; padding-bottom: 5px;">
                                    <span>{{lecture.title}}</span>
                                </div>
                                <div class="card-action">
                                    <span style="margin: 0px auto 0px !important;">
                                        <a class="blue-grey-text text-darken-4"><i class="fa fa-clock-o" aria-hidden="false"></i> {{lecture.begin_time|time:"H:i"}} - {{lecture.end_time|time:"H:i"}}</a>
                                        <a class="blue-grey-text text-darken-4"><i class="fa fa-building-o" aria-hidden="false"></i> {{lecture.place.room_name}}</a>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}