{% extends 'base.html' %}
{% block content %}
    <nav class="bg-blue-2">
        <div class="nav-wrapper container">
            <div class="col s12">
                {% if isEdited %}
                    <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
                    <a href="{% url 'partner_status_list' %}" class="breadcrumb">Statusy</a>
                    <a href="" class="breadcrumb">{{ status.name }}</a>
                    <a href="#!" class="breadcrumb">Edytowanie statusu</a>
                {% else %}
                    <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
                    <a href="{% url 'partner_status_list' %}" class="breadcrumb">Statusy</a>
                    <a href="#!" class="breadcrumb">Dodawanie statusu</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn waves-effect waves-light bg-blue-2" type="submit" name="action">Zatwierdź
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}