{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'dashboard/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}"
</head>
<body>
    <script type="application/javascript" src="{%  static 'dashboard/js/materialize.js' %}"></script>
    <nav>
        <div class="nav-wrapper bg-blue-3">
            <div class="container">
                <a href="#" class="brand-logo">Int WWW - Dashboard</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>